
<form #myForm="ngForm" (ngSubmit)="searchFilm(myForm)">

    <div class="container" fxLayout="column">
        <div class="item1" fxFlex=99%><mat-form-field><input matInput name="title" placeholder="Film Title" ngModel required></mat-form-field></div>
     <div class="container" fxLayout="row">
        <div class="item6" fxFlex=50%>
          <button type="submit" mat-raised-button color=accent [disabled]="myForm.invalid">Find Film</button>
        </div>
      </div>
    </div>
    
    </form>
