
<div fxLayout="column">

    <!--  <div *ngIf="albumList==0"><h3>Start Your Collection</h3></div>
   -->  
   
   <!-- {{passResult}} -->
  
  <!--
   <div *ngIf="film == 0">
      <h3>Your search returns nothing</h3>
    </div>
  -->

    <h1>Hello</h1>
  
    <div class="container" fxLayout="row" fxLayoutAlign="start" *ngFor="let i of passResult">
      <mat-card>
        <div fxFlex=30%>{{ i.film_id }}</div>
        <div fxFlex=20%>{{ i.title }}</div>
      </mat-card>
    </div>
  
  
    </div>